<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Life Organizer</title>
</head>

<body>
    <h3>Twoje wydarzenia</h3>
<!--<p th:text="${birthDate}"></p><br/>-->
    <br/><br/>
    <p>Do Twoich następnych urodziń pozostało</p>
    <p style="font-size: larger" th:text="${period}"></p>
    <p>dni</p>


    <br/><br/><br/>

<a href="/">Wróć na stronę główną</a>

    <br/><br/><br/>

    <ul th:each="event : ${eventList}">
        <br/><br/>
        <li th:text="${event.getEventDate()}"></li>
        <li th:text="${event.getName()}"></li>
        <li th:text="${periods.get(event.getId()-1)}"></li>
    </ul>

</body>
</html>