<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Edytuj wydarzenie</title>
</head>

<body>


    <h3>Dodaj wydarzenie</h3>
    <br/><br/>
    <form>
        Nazwa wydarzenia:
        <input type="text"/>
        Data wydarzenia:
        <input type="date"/>
        <input type="hidden"/>

</form>



</body>
</html>