<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Dodaj wydarzenie</title>
</head>

<body>

    <h3>Dodaj wydarzenie</h3>
    <br/><br/>
    <form th:action="@{/event/add}" th:method="post" th:object="${event}">
        Nazwa wydarzenia: <br/>
        <input type="text" th:field="*{name}"/><br/>
        Data wydarzenia: <br/>
        <input type="date" th:field="*{eventDate}"/><br/>
        <!--<input type="hidden"/>-->
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <input type="submit" value="Zapisz">
    </form>


</body>
</html>