
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>

<body>

<form th:action="@{/password}" th:object="${password}" th:method="post">
    Podaj nowe hasło: <br/>
    <input type="password" th:field="*{password1}"/><br/>
    Powtórz hasło: <br/>
    <input type="password" th:field="*{password2}"/><br/><br/>

    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
    <input type="submit" value="Dodaj" />

</form>

    <br/>

    <a href="/profile">Wróć</a>

</body>
</html>